.team {
  padding: 6rem 0;
  background: $main-bg;
  &__title {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 8rem;
    @media (max-width: $breakpoint992) {
      flex-wrap: wrap;
      gap: 4rem;
    }
  }
  &__item {
    width: calc((100% - 16rem) / 3);
    display: flex;
    flex-direction: column;
    border: 1px solid #333;
    border-radius: 1rem;
    overflow: hidden;
    background: $table-bg;
    @media (max-width: $breakpoint992) {
      width: calc((100% - 4rem) / 2);
    }
    @media (max-width: $breakpoint480) {
      width: 100%;
    }
  }

  &__img-wrapper {
    flex: 0 1 auto;
    img {
      width: 100%;
      display: block;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__member {
    padding: 2rem;
    color: $white;
    font-size: 1.6rem;
  }
}
