// Container & Breakpoints
@use "sass:math";
$containerWidth: 1200;
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Colors
$mainColor: #131418;
$white: #ffffff;
$accent-blue: #1b5fc1;
$accentDark: #ffb800;
$accent: #f5d132;
$main-bg: #0e0f12;
$table-container-bg: #1b1e29;
$table-bg: #151821;
$primery-color-btn: #f82c56;
$primery-color-btn-accent: #e70a36;

// Shadow
$textShadow: 0.1rem 0.1rem 0.4rem #000;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: #ffffff;
$burgerActiveColor: #fefefe;

// Fonts
$fontMain: "Open Sans", sans-serif;
$fontSecondary: "";

// Form
$dark-bg: #1e1e1e;
$form-bg: #151821;
$text-color: #f0f0f0;
$input-bg: #151821;
$input-border: #555555;
$primary-color: #ff385c;
$error-color: #ff6b6b;
$border-radius: 8px;
$padding: 2rem;
$transition-speed: 0.3s;
